<section id='nav-container'>
  <button id='close-nav' class='close-times'>&times</button>
  <ul>
    <li><a href='/{{hotel.nombre_uri}}'>Home</a></li>
    <li><a href='/{{hotel.nombre_uri}}/habitaciones'>Habitaciones</a></li>
    <li><a href='/{{hotel.nombre_uri}}/servicios'>Servicios y Galeria</a></li>
    <li><a href='/{{hotel.nombre_uri}}/ubicacion'>Ubicación</a></li>
    <li><a href='/{{hotel.nombre_uri}}/contacto'>Contacto</a></li>
  </ul>
</section>